<h1>{{categoria.nome}}</h1>
{{#each postagens}}
<div class="card mt-3">
    <div class="card-body">
        <h3>{{titulo}}</h3>
        <p>{{descricao}}</p>
        <a href="/postagem/{{slug}}"><button class="btn btn-primary">Leia mais!</button></a>
        <hr>
        <small>Data da publicação: {{data}}</small>
    </div>
</div>
{{else}}
    <h4>Nenhuma Postagem</h4>
{{/each}}